.foto:nth-child(2) {
  grid-column: 2 / 4;
  grid-row: span 2;
}

@media (max-width: 40rem) {
  .foto:nth-child(2) {
    grid-column: initial;
    grid-row: initial;
  }
}

.foto {
  display: grid;
  border-radius: 0.4rem;
  overflow: hidden;
}

.foto > div {
  grid-area: 1 / 1;
}

img {
  margin-bottom: 1rem;
}

.attr {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 4rem;
}

.attr h2 {
  display: flex;
  font-family: --type-second;
  font-weight: bold;
}
