.cadastro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 2rem;
  margin: 10rem;
}

@media (max-width: 40rem) {
  .cadastro {
    grid-template-columns: 1fr;
  }
}

.cadastro #img {
  margin-bottom: 1rem;
}

.file {
  margin-bottom: 1rem;
}

.preview {
  border-radius: 1rem;
  background-size: cover;
  background-position: center center;
  margin-top: 4rem;
}

.preview::after {
  content: '';
  display: block;
  height: 0px;
  padding-bottom: 100%;
}
